@model BindViewsExample.Models.Restaurant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-sheet.css" />
</head>
<body>
    <h1>Restaurant Information</h1>
    <div>
        <p><b>Name</b>: @Model.Name</p>
        <hr />
        <p><b>Address</b>: @Model.Address</p>
        <hr />
        <p><b>Speciality</b>: @Model.Speciality</p>
        <hr />
        <p><b>Is Open</b>: @Model.Open</p>
        <hr />
        <p><b>Rating</b>: @Model.Review</p>
    </div>
    <p id="remark">The first way to pass a model from an action to a view</p>
</body>
</html>
