@model BindViewsExample.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>The first way to pass a model from an action to a view</h1>
    <div>
        <h4>@Model.Name</h4>
        <h4>@Model.Address</h4>
        <h4>@Model.Speciality</h4>
        <h4>@Model.Open</h4>
        <h4>@Model.Review</h4>
    </div>
</body>
</html>
