@model ErrorHandlingExample.Models.DivisionResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDividedNumber</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Number @Model.DividedNumber</h1>
    <p>
        The number @Model.DividedNumber is divided by the following numbers:
        @foreach (var item in @Model.DividingNumbers)
        {
            <span>@Html.DisplayFor(i => item)</span>
        }

        This number was viewed @ViewBag.NumberOfViews
        @if (ViewBag.NumberOfViews > 1)
        {
            @:times
        }
        else
        {
            @:time
        }
    </p>
    <div>
       @await Html.PartialAsync("_NumberLinks")
    </div>
</body>
</html>
