@using Microsoft.AspNetCore.Http.Extensions
@inject ErrorHandlingExample.Services.ICounter cnt
@model ErrorHandlingExample.Models.DivisionResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDividedNumber</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Number @Model.DividedNumber</h1>
    <p>
        The number @Model.DividedNumber is divided by the following numbers: @Model.ToString()<br />
        
        @if(ViewBag.CounterSucceeded)
        {
            This number was viewed @cnt.UrlCounter[ViewBag.ViewAmount]
            @if (cnt.UrlCounter[Context.Request.GetDisplayUrl()] > 1)
            {
                @:times
            }
            else
            {
                @:time
            }
        }
    </p>
    @Html.Partial("_NumberLinks")
</body>
</html>
