
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDataForCity</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2>@ViewBag.City._city</h2>
        <p>Country: @ViewBag.City._country</p>
        <p>Time zone: @ViewBag.City._timeZone</p>
        <span><img src="@Url.Action("GetImage", new {cityName = ViewBag.City._city })" /></span>
        @Html.Partial("_CityPopulation")
        <br /><a asp-action="ShowCities">Back</a>
    </div>
</body>
</html>
