@inject CitiesDetails.Services.ICityProvider CityProvider

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2>@CityProvider[ViewBag.City]._city</h2>
        <p>Country: @CityProvider[ViewBag.City]._country</p>
        <p>Area Code: @CityProvider[ViewBag.City]._timeZone</p>
        <span><img src="@Url.Action("GetImage", new {cityName = ViewBag.City })" /></span>
        @Html.Partial("_CityPopulation", CityProvider[(string)ViewBag.City]._cityPopulation)
        <a asp-action="ShowCities">Back</a>
    </div>
</body>
</html>
