@model CachingExample.Models.Product

@if (Model != null)
{
    <div class="product-wrapper">
        <div>
            <img class="product-img" src="@Url.Action("GetImage", new {name = Model.ImageName })" />
        </div>
        <div>
            <h1>@Html.DisplayFor(modelItem => Model.Name)</h1>
            <div>
                <span class="display-label">
                    @Html.DisplayNameFor(model => Model.FormattedPrice)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => Model.FormattedPrice)
                </span>
            </div>
            <div>
                <span class="display-label">
                    @Html.DisplayNameFor(model => Model.Description)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => Model.Description)
                </span>
            </div>
            <div>
                <span class="display-label">
                    @Html.DisplayNameFor(model => Model.LoadedFromDatabase)
                </span>
                <span class="display-field">
                    @Model.LoadedFromDatabase.ToString("G")
                </span>
            </div>
        </div>
    </div>
}
