@model ElectricStore.Models.SessionStateViewModel
@{
    ViewData["Title"] = "Index";
}

@if (Model != null)
{
    <h2 class="title">
        <span class="span-col-s">@Model.CustomerName's Shopping Card,</span>
        <span>Your Selected Products:</span>
    </h2>

    <div class="page-container">
        @foreach (var item in Model.SelectedProducts)
        {
            <div class="item">
                <h3>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </h3>
                @if (item.PhotoFileName != null)
                {
                    <div>
                        <img src="@Url.Action("GetImage", "Products", new { productId = item.Id })" />
                    </div>
                }
                <div>
                    <p>
                        @Html.DisplayFor(model => item.Description)
                    </p>
                    <p>
                        @Html.DisplayFor(model => item.Price)
                    </p>
                </div>
            </div>
        }
    </div>
    <h5 class="title">
        <span class="span-col-s">Thank you @Model.CustomerName</span>
        <span>for your order. We will contact you shortly</span>
    </h5>
}
else
{
    <h2 class="title">
        <span class="span-col-s">Sorry we don't have any information yet</span>
        <span>Please go to</span>
        <span class="span-col-s">Shopping List page</span>
        <span>and select wanted products</span>
    </h2>
}

<button type="button" id="btnChat" class="btn btn-success" onclick="location.href='@Url.Action("Chat", "ShoppingCard")'">Chat with Online Visitors</button>




