@using Microsoft.AspNetCore.Http.Extensions
@inject LoggingExample.Services.ICounter cnt
@model LoggingExample.Models.DivisionResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetModuluForNumber</title>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Number @Model.DividedNumber</h1>

    The number @Model.DividedNumber is divided by the following numbers: @Model.ToString()<br />
    This number was searched @cnt.UrlCounter[Context.Request.GetDisplayUrl()] times<br />
    @Html.Partial("_NumberLinks")
</body>
</html>
